@charset "utf-8";

/* 前台门户 */

.top_div {
	min-width: 1200px;
	height: 31px;
	line-height: 31px;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
	position: relative;
	z-index: 421;
}

.top_nav a {
	color: #a4a4a4;
	margin-right: 10px;
}

.top_nav_right a {
	color: #a4a4a4;
	margin-left: 10px;
}

.logo_search {
	height: 70px;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
}

.search_input {
	border: 2px solid red;
	width: 300px;
	text-indent: 2px;
}

.search_btn {
	border: 0px solid rgb(0, 0, 0);
	height: 23px;
	width: 50px;
	background-color: red;
	color: rgb(255, 255, 255);
}

.index_nav_div {
	height: 42px;
}

.index_all {
	line-height: 42px;
	height: 42px;
	font-size: 18px;
	color: #000;
	padding-left: 16px;
	width: 240px;
}

.naver ul li {
	line-height: 42px;
}

.index,
.product_nav {
	width: 86px;
	text-align: center;
}

.naver a {
	color: #000;
}

.list_menu {
	width: 240px;
	background-color: rgba(0, 0, 0, 0.6);
	height: 450px;
}