<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qc.diangshang.dao.ZipcodeMapper" >
  <resultMap id="BaseResultMap" type="com.qc.diangshang.pojo.Zipcode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="areaid" property="areaid" jdbcType="VARCHAR" />
    <result column="zip" property="zip" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, areaid, zip, code
  </sql>
  
  <!--  -->
  <select id="findZipcodeAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zipcode
    where areaid = ${areaId}
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zipcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qc.diangshang.pojo.Zipcode" >
    insert into zipcode (id, areaid, zip, 
      code)
    values (#{id,jdbcType=INTEGER}, #{areaid,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qc.diangshang.pojo.Zipcode" >
    insert into zipcode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qc.diangshang.pojo.Zipcode" >
    update zipcode
    <set >
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qc.diangshang.pojo.Zipcode" >
    update zipcode
    set areaid = #{areaid,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>